{% extends 'base.html' %}

{% block title %} Add New Recipe {% endblock %}

{% block content %}

{{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label> Recipe Name
        <input name="recipe_name" id="recipe_name" type="text" required>
    </label>

    <label> Recipe Description
        <textarea name="recipe_description" id="recipe_description"></textarea>
    </label>

    <label>Recipe Image
        <input type="file" name="recipe_image" id="recipe_image">
    </label>

    <button type="submit">Add New Recipe</button>
</form>

{% endblock %}