{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}


{% if user.is_authenticated %}
    <button><a href="{% url 'create_page' %}">+ Add New Recipe</a></button>
{% endif %}

{{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}}

{% for recipe in recipes %}
<a href="recipe/{{recipe.id}}">
    <div>
        <p>
            {{recipe.recipe_name}}
        </p>
        <p>
            {{recipe.recipe_description}}
        </p>
        {% if recipe.recipe_image %}
        <img src="{{recipe.recipe_image.url}}" alt="{{recipe.recipe_name}}">
        {% else %}
        <img src="media/photos/default.jpg" alt="default image">
        {% endif %}
    </div>
</a>

{% endfor %}

{% endblock %}