*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 10px;
}

hr{
    margin: 10px 0;
}

button{
    padding: 10px;
    border-radius: 5px;
}

a{
    color: black;
    text-decoration: none;
}